.navbar {
    background-color: rgb(54, 54, 54);
    padding: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 2.3em;
    font-weight: 200;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    margin-right: 1.3em;
}

header h1, a{
    color: #fff;
    transition: 0.2s ease-in-out;
}

header h1:hover {
    color: #23525e;
}

header nav a {
    margin-right: .5em;
}